.Chips {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Chips-btn {
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: pink;
  }
  
  .Chips-btn:hover {
    background-color: red;
    cursor: pointer;
  }
  
  .Chips-btn:active,
  .Chips-btn:focus {
    outline: none;
  }
  
  .Chips-bag {
    position: absolute;
    z-index: -1;
  }