.Soda {
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Soda img {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}